<html>
        <% if flash[:error]%>
        <p><%= flash[:error]%></p>
        <%end%>
    <form action="/createuser" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="Name">
        <input type="text" name="Email">
        <input type="text" name="Password">
        <input type="text" name="Password_Confirmation">
        <input type="submit" value="Join">
    </form>
</html>